{
    "templates": [
        {
            "name": "oncall",
            "cal_id": "google_calendar_id",
            "event_name": "Oncall Shift",
            "start_time_tz": "09:00:00+01:00",
            "duration": "8h",
            "participants": [
                {
                    "full_name": "Some Person 1",
                    "email": "some_person_1@gmail.com",
                    "phone": "+123456789",
                    "link": "direct chat link"
                },
                {
                    "full_name": "Some Person 2",
                    "email": "some_person_2@gmail.com",
                    "phone": "+123456789",
                    "link": "direct chat link"
                }
            ]
        }
    ]
}
