{
    "cal_id": "google_calendar_id",
    "start_time": "09:00:00+01:00",
    "end_time": "18:00:00+01:00",
    "cta_text": "is on call on:",
    "people": [
        {
            "full_name": "Some Person 1",
            "email": "some_person_1@gmail.com",
            "phone": "+123456789",
            "link": "direct chat link"
        },
        {
            "full_name": "Some Person 2",
            "email": "some_person_2@gmail.com",
            "phone": "+123456789",
            "link": "direct chat link"
        }
    ]
}
