name = "New Event" # meta - not used anywhere
cal_id = "calendar_id"
event_title = "Calendar event" # Will be used in the created Event
timezone = "Local"   # example: "UTC", "Europe/Berlin", "CET", "Local"
duration = "8h"      # valid units: "ns", "us" (or "µs"), "ms", "s", "m", "h".
transparency = "busy" # optional. valid values: "busy", "free".
visibility = "public" # optional. valid values: "private", "public"

# Generic description, can be overwritten on the participant level
description = """
Generic event description unless overwritten

    1. do something
    2. do something else

More text and the rest

Best,
ABC
"""

title_with_participants = true

participants = [
    { first_name = "Some 1", last_name = "Person T1", email = "some1@host.example" },
    { first_name = "Some 2", last_name = "Person T2", email = "some2@host.example", description = "additional info2" }
]

[host]
first_name = "Organizer"
last_name = "Last Name"
email = "organizer@host.example"

[recurrence]
mode = single       # values: single, recurrent
count = 1           # unsigned int
frequency = "24h"   # valid units: "m", "h". 
interval = 2        # unsigned int
